{#
    What is on the network right now. /devices/online

    The site's front page until 008_netgrasp_overview.sql moved it to
    /overview, which links here from its "devices online" figure.
#}
{% extends "gather/netgrasp/page.html" %}

{% block summary %}{% include "gather/netgrasp/device-summary.html" %}{% endblock %}

{% block results %}{% include "gather/netgrasp/device-table.html" %}{% endblock %}

{% block empty %}
<span class="ng-empty__hint">Every device is idle or offline. <a href="/devices">See all devices</a>.</span>
{% endblock %}
